.but1{
	color: red;
	border-style: solid; 
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	font-size: 18pt;
}

/*.linket{
	display: inline;
	list-style: none;
    color: blue;
	border-style: solid; 
	border-radius: 5px;
	padding: 10px;
	font-size: 15pt;
}
*/
.Fb{
	margin-top: 50px;
    color: blue;
	border-style: solid; 
	border-radius: 5px;
	padding: 10px;
	font-size: 15pt;
	color: #3e64ff;
	text-decoration: none;

}

.tw{
	margin-top:: 50px;
	color: blue;
	border-style: solid; 
	border-radius: 5px;
	padding: 10px;
	font-size: 15pt;
	color: #3e64ff;
	text-decoration: none;

}

.yt{
	margin-top: 50px;
    color: blue;
	border-style: solid; 
	border-radius: 5px;
	padding: 10px;
	font-size: 15pt;
	color: #3e64ff;
	text-decoration: none;
}

.in{
	
	color: blue;
	border-style: solid; 
	border-radius: 5px;
	padding: 10px;
	font-size: 15pt;
	color: #3e64ff;
	text-decoration: none;

}

.linket{
	margin-top: 50px;
	font-weight: bold;
	color: #3e64ff;
	text-decoration: none;


}

.txt1{
	font-family: 'Patua One', cursive;
	font-weight: bold;
}

.txt2{
	font-family: 'Tinos', serif;

}