body{
	background-color: #c7f2e3;
}
.top{
	color: #132238;
	font-family: 'Monoton', cursive;
	font-size:35pt;
}

.txt2{
	
	font-family: 'Schoolbell', cursive;
	font-size:20pt;
}

.ph1{
	position: absolute;
}